<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %} <!--To use the files under static folder we have to load the static in that page-->
<head>
    {% block meta %}
    <meta name="title" content="About | Go Healthy">
    <meta name="description" content="We look forwards a time, when nobody dies due to insufficiency of Healthcare Service In India. Go Healthy is a website for medical support. Purpose of the website is to deliver all details about Bed and Antivenom availability in all hospitals, Doctors and Blood Donor near you and how to do first aid. This website has four different features. In Check Hospital section user can see the all information about all the Hospital and number of available bed in Hospital and also can book bed for patients and can see which hospital has Antivenom. In Find Doctor section user can see all the information about doctors of their location. And in Find Donor section user can see the all information about blood donors. In First Aid section there are several free videos and photos are available which will provide you a guide about First Aid.">
    {% endblock meta %}

    {% block title %}
    <title>About | Go Healthy</title>
    {% endblock title %}

    {% block style %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    {% endblock style %}

</head>

{% block body %}
<body>
{% endblock body %}

{% block content %}
<center>
    <div class="wrapper banner mb-5" style="background-image: url('{% static 'images/peaceful-protest.png' %}');">
        <div class="our-vision">OUR VISION</div>
        <div class="our-aim">
            We look forward a time, when nobody will die due to insufficiency of Healthcare Services In India.
        </div>
        <div class="we-need">
            We Need A Better Universal Healthcare System
        </div>
        <div class="better-life">
            A better healthcare system can give us a better life
        </div>
        <div class="need-action">
            <span>
                To change the healthcare system an effective scientific action is needed, not a promise.
            </span>
        </div>
        <div class="our-right" style="line-height: 65px;">
            <span class="red-text">HEALTH is our FUNDAMENTAL RIGHT</span>,<br>Not a <span class="yellow-text">PRIVILEGE</span>
        </div>
        <div class="fight">
            Stand up for your right. Fight to ensure the right.
        </div>
    </div>

    <div class="about-box">
        <div class="background-1">
            <div class="row">
                <div class="col-md-3" align="left">
                    <img src="{% static 'images/GoHealthy_question.png' %}" class="image-desktop" height="100%" width="100%">
                    <img src="{% static 'images/GoHealthy_question-mob.png' %}" class="image-mobile" width="100%">
                </div>
                <div class="col-md mr-2 ml-2 mt-2">
                    <h2 style="margin-top:28px;font-family:Palatino, URW Palladio L, serif;font-style:bold;-webkit-text-stroke: 1px black">Why This
                        Website?</h2>
                    <p class="text-muted">We all know what's the situation of healthcare system in India. Healthcare system facing shortage
                        of beds, medical oxygen, hospitals, doctors. But since a long decades the State never response to fix the problems.
                        And result of that is painful death. A strong and effective action should be taken to make a better healthcare system.
                        <br>Go Healthy is a website for medical support, we want to help the victims of that poor healthcare system. Purpose of the website is to deliver all
                        details about Bed and Antivenom availability in all hospitals,
                        Doctors and Blood Donor near you and how to do first aid. This website has four different features.
                        In Check Hospital section user can see the all information about all the Hospital and number of
                        available bed in Hospital and also can book bed for patients and can see which hospital has Antivenom.
                        In Find Doctor section user can see all the information about doctors of their location.
                        And in Find Donor section user can see the all information about blood donors.
                        In First Aid section there are several free videos and photos are available which will provide you a guide
                        about First Aid.</p>
                </div>
            </div>
        </div>



        <div class="background-2">
            <div class="row">
                <div class="col-md-3 order-md-last">
                    <img src="{% static 'images/GoHealthy_poor_healthcare.png' %}" class="image-desktop" height="100%" width="100%">
                    <img src="{% static 'images/GoHealthy_poor_healthcare-mob.png' %}" class="image-mobile" width="100%">
                </div>
                <div class="col-md ml-3 mr-3 mt-4" align="left">
                    <h2 align="center" class="reality-healthcare">Reality of The Healthcare System</h2>
                    <p>India ranked 145 out of 195 countries in Healthcare Access and Quality Index. Since Independent no
                        serious and
                        effective action has been taken by the Government to improve the healthcare system. And due to the government negligence a huge
                        number of
                        people are depriving from the healthcare service and many patients are die due to poor healthcare system. We believe that it is everybody's right to get the
                        healthcare services easily. Every month many patients losing their lives because they don't get bed in
                        hospital, don't get Blood, don't get medical support; and many snake bitten patients are die due to no
                        Antivenom
                        in hospitals.</p>
                    <hr>
                    <h5 align="center">Data Says that -</h5>

                    <ul>
                        <li class="mb-2">Bed availability of India is only 5 beds for 10,000 people. In Human Development Report
                            2020, India ranked 155 out of 167 countries on Bed Availability. Due to the lack of beds in hospitals people are struggling to admit the patients.
                        </li>
                        <li class="mb-2">
                            India has only 69,265 Hospitals. Just 25,778 Government Hospitals and 43,487 Private Hospitals. Due to the low number of people hospitals, rural people are unable to admit patient within a short time because they have go to city to admit the patients in a hospital.
                        </li>
                        <li class="mb-2">
                            According to Human Development Index 2020, India has just 8.6 doctors for every 10,000 population (i.e. 1 doctor for every 1163 people). But WHO recommended a country must have at least 1 doctor for every 1000 people.
                            So that there have huge work pressure on each doctors to treat the large number of patients. This small number of doctors are not able to take care all the patients.
                        </li>
                        <li class="mb-2">
                            27% death is for lack of Medical Attention - Data 2016.
                        </li>
                        <li class="mb-2">
                            According to Harvard study (2018), 5.2 million death occur in India annually due to medical errors.
                        </li>
                        <li class="mb-2">
                            Only 600 (20%) species of snakes are venomous out of over 3000 species of snakes in the world. And in India only 60 species of snakes (i.e. 22%) are venomous out of 270 snake species, but almost 45,900 snakebite deaths occur each year in India; because shortage of anti-venom in healthcare centers increases the possibility of death of snake bite patient.
                        </li>
                        <li class="mb-2">
                            In every 2 seconds, someone needs blood. India facing blood shortage of almost 12 lakh unit. 
                            And India has more than 512 million eligible blood donors. 
                            This number is enough to fulfill the shortage. WHO recommends that 1 percent of a country’s population would suffice for its blood needs.
                            Annually 10 million blood are being collected. But many blood are being discarded before the expire date due to poor blood storage infrastructure. Poor blood storage infrastructure reduces the capacity of the blood banks.
                        </li>
                        <li class="mb-2">
                            In a year 4,37,396 road accident were recorded and 1,54,732 death were recorded because of road accident - NCRB data 2019.
                            In some cases, cause of death in road accident is, delay in medical treatment. 
                        </li>
                        <li class="mb-2">
                            Public health expenditure is only 3% of country's GDP, it's needs to be increased at least up to 7%.
                        </li>
                    </ul>
                    <p align="center" style="font-weight:500">If a patient get an ambulance any way, then the patient have to do struggle to get a bed in hospital, if the patient get a bed, then again the patient have to do struggle to get proper medical support in the hospital.</p>
                    <p align="center" style="font-size:18px">It is the consequence of negligence of problems in healthcare system by the Government since a long decades.</p>
                    <h4 align="center" class="text-mob accountable">WHO IS ACCOUNTABLE FOR THAT?</h4>
                </div>
            </div>
        </div>
        <div class="background" align="left" style="padding: 0px !important;">
            <div style="padding:20px !important">
                <h2 align="center" class="heading"> Problems in the Healthcare System We Focused</h2>

                <p>There are lots of problems in the healthcare system. We focus on some of the problems. The problems that we focused are-</p>

                <h5 id="Patients-died-due-to-not-being-admitted-to-the-Hospital-within-right-time">
                    <li>Patients died due to not being admitted to the Hospital within right time:</li>
                </h5>
                <p>If you read news each day, you find such news that the patient died due to not getting bed in hospital.
                    In the COVID-19 pandemic, this become more deadly. Shortage of bed in hospitals, is one of the main reason of highest no. of death
                    of COVID-19 patients.
                    Patient parties keep running from one hospital to another hospital to admit the patient - it consumes so
                    many valuable times, but hospitals replies we have no more beds, and so that the patient dies. If the
                    patient didn’t admit to the hospital, then how he/she will receive treatment? We also see that in many
                    hospitals due to long admission process, it wastes the times - and result is death.
                </p>
                <h5>
                    <li>Patients died due to not getting Oxygen:</li>
                </h5>
                <p id="Some-hospitals-have-not-oxygen-beds-and-also-some-time-hospitals-have-no-oxygen">
                    Some hospitals have not oxygen beds, and also some time hospitals have no oxygen; 
                    as a result of this patient’s families have to suffer to find a hospital with oxygen availability to admit the patient.
                    The COVID-19 pandemic exposed the shortage of oxygen. A huge number of COVID-19 patients died just for shortage of oxygen in hospitals.
                </p>
                <h5 id="Snake-Bite-Patients-died-due-to-not-get-Vaccine-at-right-time">
                    <li>Snake Bite Patients died due to not get Antivenom at right time:</li>
                </h5>
                <p>45,900 snakebite deaths occur each year in India, but in india most of the snake is non-poisonous; only 60 species of snakes are venomous out of 270 snake species.
                    But still why number of death is high? Because in most of the hospitals, specially in ruler hospitals, there have no antivenom. But most of snake bit incident happening in ruler area. So many valuable time is waste to find a hospital which hospital has Antivenom to give treatment to a sake bite patient.
                    Hence, shortage of anti-venom put thousands of lives at risk.</p>
                <h5 id="People-do-not-able-to-contact-doctor-in-emergency-in-many-cases">
                    <li>People do not able to contact doctor in emergency in many cases:</li>
                </h5>
                <p>India doesn’t have sufficient doctors. As a result many people can’t contact to the doctors at the right
                    time. Those who live far away from the hospital or in ruler area, for them, it is not possible to get medical support
                    quickly due to lack of rural transport infrastructure. In that case they need to contact/ consult with a
                    doctor to get medical support. But if they
                    don’t
                    have any such platform how do they do it? </p>
                <h5 id="Patients-died-due-to-not-receive-Blood-within-right-time">
                    <li>Patients died due to not receive Blood within right time:</li>
                </h5>
                <p>In every 2 seconds, someone needs blood. Every year many patients are losing theirs life just for not being able to collect blood. In India Blood
                    Banks
                    have not sufficient bloods, for that reasons, patient's family need to collect blood from donors. But it is impossible
                    for
                    them to contact a blood donor. Is the patient’s family go to everybody in their area and ask their blood
                    group and request them to donate blood? If patient’s family do that, it will waste the time; and waste
                    of
                    time means the patient is certain to die.</p>
                <h5 id="The-accident-victims-die-due-to-not-getting-medical-help-at-the-right-time">
                    <li>The accident victims die due to not getting medical help at the right time:</li>
                </h5>
                <p>In India each second accidents are happening. In most of the cases victims are died just for delay in
                    Medical
                    Assistant. Due to shortage MST, Traffic Jump, lack of Medical Infrastructure Medical Support Team do
                    late in
                    their works. There have no emergency lane in roads, so, most of the time, ambulance can't reach to the accident spot within time. That's why victims don't get treatment immediately.</p>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <h5 align="center" style="padding: 20px;">So we are trying to develop a website to help the people those who are victim of the
                        problems.
                        <br>To make a good future we are here with you to help you......</h5>
                 </div>
                <div class="col-md text-md-right">
                    <img src="{% static 'images/ourhealth.png' %}" width="100%" class="ourhealth-md">
                </div>
            </div>
        </div>
        <div class="background" align="left" style="padding-bottom:2px">
            <h2 align="center" class="heading"> Features on the Website to Deal with the Problems</h2>

            <h5><a href="{% url 'Go_Healthy_App:project-Hospital' %}">
                <li>See number of available bed in hospital and Book bed:</li>
            </a></h5>
            <p>Imagine what happen, if you will know in advance, which hospital has a bed? Then you don’t need to run in
                several hospitals to admit the patient, you won’t get the reply, sorry sir we have no more bed. You
                don’t
                need to waste your time to travel in several hospitals. Just go to that hospital, which hospital have
                bed
                you already know from the site. It will save your time and save of time means the risk of death is low.
                <br>
                And before reaching to the hospital if you already book a bed, then in hospital you don’t need to waste
                your
                valuable time for a long Admission Process, just by a single click you can book a bed for the patient.
                It
                just likes Hotel Booking, if you book a bed in a hotel at online, the hotel will take less time to
                provide
                you a bed compare to offline booking.
                <br>
                Hence, if patient family easily can see which hospital has available bed, and easily can book a bed for
                patient, it may solve the <a class="text-problem"
                        href="#Patients-died-due-to-not-being-admitted-to-the-Hospital-within-right-time"><b>first problem</b></a> we mentioned – that is <a
                        class="text-problem" href="#Patients-died-due-to-not-being-admitted-to-the-Hospital-within-right-time"><b>Patients died due to not being
                    admitted to the Hospital within right time</b></a> in some bit.</p>


            <h5><a href="{% url 'Go_Healthy_App:project-Hospital' %}">
                <li>See Hospitals in your locality have Oxygen bed:</li>
            </a></h5>
            <p>
                If  before going to the hospital to admit the patient, patient’s family able to know 
                which hospitals (in their locality) have available oxygen beds, then patient’s family don’t need to run 
                several hospitals to admit the patient.
                <br>Hence, patient will get admitted and get treatment without wasting of time.
                <br>
                So this solution will solve the 
                <a  class="text-problem" href="#Some-hospitals-have-not-oxygen-beds-and-also-some-time-hospitals-have-no-oxygen"><b>second problem</b></a> we mentioned – that is <a
                class="text-problem" href="#Some-hospitals-have-not-oxygen-beds-and-also-some-time-hospitals-have-no-oxygen"><b>Patients died due to not getting Oxygen.</b></a> in some bit.</p>
            
                    <h5><a href="{% url 'Go_Healthy_App:project-Hospital' %}">
                <li>Search Hospitals in your locality for Antivenom:</li>
            </a></h5>
            <p>In most of the case, the cause of the snake bitten patient is delay in treatment or not getting vaccine
                within the right time. So there should be a system, by that people will able to know, in which hospital
                of
                his/her locality he/she will get Antivenom. Just by single click when you are able to know in which
                hospital
                of your area you will get treatment of Snake Bite, then you don’t need to waste your time to run from
                one
                hospital to another hospital to find a hospital which have vaccine. In this website we developed, any
                people
                can see which hospital has Antivenom.
                <br>
                So this solution may solve the <a class="text-problem" href="#Snake-Bite-Patients-died-due-to-not-get-Vaccine-at-right-time"><b>third problem</b></a> - that is <a
                class="text-problem" href="#Snake-Bite-Patients-died-due-to-not-get-Vaccine-at-right-time"><b>Snake
                    Bite Patients died due to not get
                    Vaccine at right time</b></a> in some bit.</p>

            <h5><a href="{% url 'Go_Healthy_App:project-Doctor' %}">
                <li>Contact a Doctors in your locality:</li>
            </a></h5>
            <p>In Problem Statement we already see that it is a challenge for the common people to contact a doctor in
                emergency. So to tackle this challenge we need to provide a platform, from where people can contact to
                any
                doctor. And we put this platform in our idea i.e. on the website.
                <br>
                When you will be able to search doctors in your locality and also contact a doctor just by single click,
                then easily you can get a medical advice when you are living far from hospital. And a Medical Advice can
                save a life.
                <br>
                Hence, this solution may solve the <a class="text-problem"
                        href="#People-do-not-able-to-contact-doctor-in-emergency-in-many-cases"><b>fourth
                    problem</b></a> - that is <a class="text-problem" href="#People-do-not-able-to-contact-doctor-in-emergency-in-many-cases"><b>People do not able to contact a doctor in
                    emergency in many cases</b></a> in some bit.</p>

            <h5><a href="{% url 'Go_Healthy_App:project-Blood' %}">
                <li>Contact a Blood Donors in your locality:</li>
            </a></h5>
            <p>In the mentioned problems, we see that common people facing problems to collect Blood. To solve this
                problem
                by this website we provide a feature, By that people can easily connect to the nearest Blood Donor. When
                a
                people can easily contact to a correct blood donor within a minute, then it will save a lot of times.
                When a
                patient family successfully connect to a blood donor quickly, then the patient will receive blood
                quickly
                and early blood transfusion means reduced the risk of death.
                <br>
                So, this may solve the <a class="text-problem" href="#Patients-died-due-to-not-receive-Blood-within-right-time"><b>fifth problem</b></a> - that is <a
                class="text-problem" href="#Patients-died-due-to-not-receive-Blood-within-right-time"><b>Patients
                    died due to not receive Blood within right
                    time</b></a> in some bit.</p>

            <h5><a href="{% url 'Go_Healthy_App:project-Firstaid' %}">
                <li>Learn First Aid:</li>
            </a></h5>
            <p>In India Every day many patients died due to not get first aid treatment at right time - it already
                mentioned in the problem statement. What’s the Solution ? Well, a solution is - to make the common
                people
                aware of First Aid. If every citizen of India know How to do First Aid, then in emergency a person can
                help
                a victim by delivering First Aid to the victim. So if the Medical Assistance Team make delay to reach to
                the
                spot, then a common person can help the victim. For that we have to make a simple, easiest and
                multi-language learning platform, from where a common people can learn First Aid. When almost every
                people
                get the knowledge of first aid, then it will save the life of so many accident’s victims.
                <br>
                This solution may solve the <a class="text-problem"
                        href="#The-accident-victims-die-due-to-not-getting-medical-help-at-the-right-time"><b>sixth problem</b></a> - that is <a
                        class="text-problem" href="#The-accident-victims-die-due-to-not-getting-medical-help-at-the-right-time"><b>The accident victims die due to not getting
                    medical help at the right time</b></a> in some bit.</p>
            <p style="font-size:17px; color:red; font-weight:bold;margin-top:30px" align="center">The features on the website is not able to solve the whole problem totally. The features can just give a
                relief to the people and help the people.
                <br>When the Government will focus on these issues, only then the problems will be solve totally.</p>
            <img src="{% static 'images/GoHealthy_rising hands.png' %}" class="w-100" alt="Raising Hands">
        </div>
    </div>
    
</center>
{% endblock content%}

</body>
</html>
