<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
<html lang="en">
<head>
    {% block meta %}
    <meta name="title" content="Blood Donation Camp Registration | Go Healthy">
    <meta name="description" content="If you or your organization planed to organize a blood donation camp then give the details of the blood donation camp to us, we will inform everybody about that blood donation camp">
    {% endblock meta %}

    {% block title %}
    <title>Blood Donation Camp Registration | Go Healthy</title>
    {% endblock title %}

    {% block style %}
    <link rel="stylesheet" href="{% static 'css/blooddonationcampregistration.css' %}">
    {% endblock style %}

</head>
{% block body %}
<body>
{% endblock body %}

{% block content %}
    <div class="row">
        <div class="col-md ml-1 mr-1">
            <div class="main-header">
                Blood Donation Camp Registration
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md-8 ml-1 mr-1">
            <div class="header-intro text-center" align="center">
                If you or your organization planed to organize a blood donation camp then give the details of the blood donation camp to us, we will inform everybody through message in your city to donate blood at the blood donation camp.
            </div>
        </div>
        <div class="col-md"></div>
    </div>
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md-6 ml-3 mr-3">
            <form id="campRegistration" method="post" action="{% url 'Go_Healthy_App:BloodDonationCampRegistration' %}">
                {% csrf_token %}
                <h3 class="text-left mt-5 mb-4">Fill Up the Form</h3>
                <div class="input-header">
                    Organization's Details
                </div>
                <div class="row">
                    <div class="col-md mb-4">
                        <label for="Organization">Name of the Organization</label>
                        <span class="point-required">*</span>
                        <div class="label-info">
                            Which organization will organize the blood donation camp
                        </div>
                        <input type="text" inputmode="text" class="form-control input-sm text-capitalize input-register" maxlength="500" name="Organization" id="Organization" form="campRegistration" data-validation="office_name_validation" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mb-4">
                        <label for="Website">Website</label>
                        <input type="url" inputmode="url" class="form-control input-sm input-register" maxlength="500" name="Website" id="Website" form="campRegistration" placeholder="https://www.example.com">
                        <div class="input-info">
                            URL of the website of the organization (if any)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mb-4">
                        <label for="Contact">Contact Number</label>
                        <span class="point-required">*</span>
                        <input type="tel" inputmode="tel" class="form-control input-sm input-register" maxlength="10" minlength="10" name="Contact" id="Contact" form="campRegistration" required placeholder="10 digit mobile no">
                    </div>
                    <div class="col-md mb-4">
                        <label for="Contact">Email</label>
                        <span class="point-required">*</span>
                        <input type="email" inputmode="email" class="form-control input-sm text-lowercase input-register" maxlength="100" name="Email" id="Email" form="campRegistration" required>
                    </div>
                </div>
                        
                <div class="input-header">
                    Where the blood donation camp will take place?
                </div>
                <div class="row">
                    <div class="col-md mb-4">
                        <label for="State">State</label>
                        <span class="point-required">*</span>
                        <select class="form-control input-sm input-register" id="State" name="State" form="campRegistration" required data-district_option="#District">
                            <option label="Select State"></option>
                            <optgroup label="States">
                                {%for i in allStates%}
                                    {% if not i.Is_Union_Territory %}
                                        <option value="{{i.Name}}">{{i.Name}}</option>
                                    {% endif %}
                                {%endfor%}
                            </optgroup>
                            <optgroup label="Union Territories">
                                {%for i in states%}
                                    {% if i.Is_Union_Territory %}
                                        <option value="{{i.Name}}">{{i.Name}}</option>
                                    {% endif %}
                                {%endfor%}
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-md mb-4">
                        <label for="District">District</label>
                        <span class="point-required">*</span>
                        <select class="form-control input-sm input-register" id="District" name="District" form="campRegistration" required>
                            <option label="Select District"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mb-4">
                        <label for="City">City</label>
                        <span class="point-required">*</span>
                        <input type="text" inputmode="text" class="form-control input-sm text-capitalize input-register" maxlength="200" name="City" id="City" form="campRegistration" required>
                    </div>
                    <div class="col-md mb-4">
                        <label for="Subdivision">Subdivision</label>
                        <span class="point-required">*</span>
                        <input type="text" inputmode="text" class="form-control input-sm text-capitalize input-register" maxlength="200" name="Subdivision" id="Subdivision" form="campRegistration" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mb-4">
                        <label for="Pin">Zip Code</label>
                        <span class="point-required">*</span>
                        <input type="text" inputmode="numeric" class="form-control input-sm input-register" minlength="6" maxlength="6" name="Pin" id="Pin" form="campRegistration" required>
                    </div>
                    <div class="col-md mb-4">
                        <label for="Landmark">Landmark</label>
                        <span class="point-required">*</span>
                        <input type="text" inputmode="text" class="form-control input-sm input-register" maxlength="500" name="Landmark" id="Landmark" form="campRegistration" required placeholder="e.g: M N College, S K Road">
                    </div>
                </div>
                <div class="input-header">
                    When the blood donation camp will take place?
                </div>
                <div class="row">
                    <div class="col-md mb-4">
                        <label for="Start_Date">Start at</label>
                        <span class="point-required">*</span>
                        <input type="date" class="form-control input-sm input-register" name="Start_Date" id="Start_Date" form="campRegistration" required aria-describedby="Start_Date-error">
                        <div class="feedback feedback-invalid" id="Start_Date-error"></div>
                    </div>
                    <div class="col-md mb-4">
                        <label for="End_Date">End at</label>
                        <input type="date" class="form-control input-sm input-register" name="End_Date" id="End_Date" form="campRegistration" aria-describedby="End_Date-error">
                        <div class="feedback feedback-invalid" id="End_Date-error"></div>
                        <div class="input-info">
                            In which day the blood donation camp will end. Enter the date only if the blood donation camp will take place for more than one day.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mb-4">
                        <label for="From">From</label>
                        <span class="point-required">*</span>
                        <input type="time" class="form-control input-sm input-register" name="From" id="From" form="campRegistration" required aria-describedby="From-error">
                        <div class="feedback feedback-invalid" id="From-error"></div>
                    </div>
                    <div class="col-md mb-4">
                        <label for="To">To</label>
                        <span class="point-required">*</span>
                        <input type="time" class="form-control input-sm input-register" name="To" id="To" form="campRegistration" required aria-describedby="To-error">
                        <div class="feedback feedback-invalid" id="To-error"></div>
                    </div>
                </div>
                <div class="row row-generate-otp mt-4">
                    <div class="col-md"></div>
                    <div class="col-md text-center" align="center">
                        <button type="button" class="btn btn-generate" id="otp-generate">Generate OTP</button>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row row-verify-otp mt-4" style="display: none;">
                    <div class="col-md"></div>
                    <div class="col-md-5 text-center" align="center">
                        <div class="input-group">
                            <input type="tel" class="form-control input-sm input-otp" minlength="6" maxlength="6" name="OTP" id="OTP" form="campRegistration" placeholder="6 digit OTP" aria-label="6 digit OTP" aria-describedby="otp-verify">
                            <div class="input-group-append">
                              <button type="button" class="input-group-text btn btn-verify" id="otp-verify" disabled>Verify</button>
                            </div>
                        </div>
                        <div id="resend-otp" style="display: none;">
                            <span id="resend-otp-message" style="display: none;">Resend OTP in <span id="resend-otp-timer"></span></span>
                            <button type="btn" class="btn btn-resend" id="reset-btn" style="display: none;" disabled>Resend OTP</button>
                        </div>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row mt-1">
                    <div class="col-md"></div>
                    <div class="col-md-5 text-center" align="center">
                        <div id="otp-error" style="color: red;"></div>
                        <div id="otp-sent-to" style="color: blue;"></div>
                    </div>
                    <div class="col-md"></div>
                </div>
                <button type="submit" class="btn btn-form-submit" id="campRegistrationSubmit" name="campRegistrationSubmit" form="campRegistration" style="display: none;">
                    Submit
                </button>
                <div id="submit-error" style="color: red;"></div>
            </form>
        </div>
        <div class="col-md"></div>
    </div>
{% endblock content %}
</body>
{% block script %}

<script src="{% static 'javascripts/blooddonationcampregistration.js' %}"></script>

{% endblock script %}
</html>