<!DOCTYPE html>
{% extends 'base.html' %}
{%block project%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Aid</title>
</head>
<body style="min-height:100%;background-image: url('{% static 'media/images/firstaid.jpg' %}');
            background-repeat:no-repeat;backdrop-filter: blur(5px);z-index:0;">
<center>
    <div class="alert alert-success ml-2 mr-2" role="alert"
         style="background-color:aqua;">
        <h1 class="alert-heading" style="color:red;font-family:Courier New, monospace;">Before starting First Aid!</h1>
        <p>First Aid is the very esential thing. A firs aid can save a life. It is not possible to reach the rescue team
            or health team at the quickly. We never should wait for the rescue team. We should start the first aid to
            save the life of the victim.
            <br>But Beawre! Your one wrong step can push the victim to death. So it advise to if you have experience or
            some kind of knowledge then do first aid.
            If you have not knowledge then ask others in the accident spot if he/she have knowledge about that. If in
            the accident spot nobody have any proper knowledge about that you can do it carefully.</p>
        <hr>
        <p class="mb-0" style="color:green;font-size:300%;font-family:bold">To strat learning select mode</p>
    </div>

    <div class="row">
        <div class="col-md ml-1 mr-1" align="center">
            <a style="color:red;margin-top:1px;margin-bottom:5px;font-size:50px;text-shadow:-3px 3px LightYellow"
               href="{%url 'firstaid-Photos'%}">Photo Tutoral
                <br><img src="{% static 'media/images/firstaid photo.png' %}" height="220" width="220"
                         style="margin-top:2px;margin-bottom:5px;">
            </a>
            <br><br>
        </div>
        <div class="col-md ml-1 mr-1" align="center">
            <a style="color:blue;margin-top:5px;margin-bottom:5px;font-size:50px;text-shadow:-3px 3px LightYellow"
               href="{%url 'firstaid-Videos'%}">Video Tutoral
                <br><img src="{% static 'media/images/firstaid video.png' %}" height="250" width="250"
                         style="margin-top:2px;margin-bottom:5px;">
            </a>
        </div>
    </div>
</center>
</body>
</html>
{%endblock%}