<!DOCTYPE html>
{% extends 'base.html' %}
{%block project%}
{% load static %}
{% load embed_video_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Aid - Videos</title>
</head>
<body style="background-image: url('{% static 'media/images/abstract.jpg' %}');
             background-size: cover;background-repeat:no-repeat;background-attachment:fixed">

<center>
    <div class="alert alert-success" role="alert"
         style="margin-bottom:1%;margin-right:1%;margin-left:1%;background-image:linear-gradient(Orange, yellow)">
        <h1 class="alert-heading" style="color:blue;">Video Tutorial</h1>
        <p class="mb-0" style="font-size:21px">Here some videos from which you can learn about first aid.
            <br>For more videos go here: <a href="https://nhcps.com/" target="_blank">Save a Life by NHCPS</a></p>
        <hr>
    </div>
</center>
<form id="languageFilter" method="get">
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-3 ml-2 mr-2" align="right">
        <select name="language" id="language" class="form-control" form="languageFilter" required style="width:95%">
            <option label="Select Language"></option>
            <option value="All Languages">All Languages</option>
            {% for i in languages %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-9 ml-2 mr-2" align="right">
        <button type="submit" class="btn btn-success" form="languageFilter" name="action" value="filter" style="width:200px;margin-top:1px">Filter</button>
    </div>
    <div class="col-md"></div>
</div>
</form>

<!-- Insert all the videos Here-->
<div class="row">
    <div class="col-md-9 ml-2">
        <ol>
            {% for i in vid %}
            <li style="color:red;font-size:30px;margin-top:2px;">
                <h2>{{i.Name}}</h1>
                </li>
                <video src="{{i.Video.url}}" style="margin-bottom:20px;margin-left:-25px;" width="100%" height="15%" controls>
                    Your browser does not support the video tag.
                </video>
            {% endfor %}
        </ol>
    </div>
    <div class="col-md"></div>
</div>
</body>
</html>
{%endblock%}