<!DOCTYPE html>
{% extends 'base.html' %}
{%block project%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body style="min-height:100%;background-image: url('{% static 'media/images/resetlink background.jpg' %}');
            background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<center>
    {% if nocode %}
    <img src="{% static 'media/images/logo.png'%}" width="500" height="100"><br><br>
    <h1>Error 404</h1>
    <h4 style="color:red">
        Link Expired!<br>
        May be you already used this link to reset your password or time has been expired!
    </h4><br>
    <h5>Click <a href="{% url 'ResetPassword' %}">HERE</a> to send <strong>Reset Password Link</strong> Again</h5>
    <br><br>
    <h6>Go Back to <a href="{% url 'project-Home'%}">Home</a></h6>
    {% else %}
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md-4 ml-3 mr-3">
            <div class="container" style="padding:20px;background-color:#00D5FF">
                <h3 style="color:white">RESET PASSWORD</h3>
                <h5 class="text-light">For {{username}}</h5>
                <br>
                <form id="resetPasswordForm" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="username" value="{{username}}">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="password1-addon"><i class="fas fa-key"></i></span>
                        <input type="password" class="form-control" onkeyup="resetpasswordmatch(); PasswordValidation()" name="password1"
                               id="password1" minlength="8" placeholder="New Password" required autocomplete="off"
                               form="resetPasswordForm" aria-label="New Password" aria-describedby="password1-addon">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="password2-addon"><i class="fas fa-key"></i></span>
                        <input type="password" disabled class="form-control" onkeyup="resetpasswordmatch()" name="password2"
                               id="password2" minlength="8" placeholder="Confirm New Password" required autocomplete="off"
                               form="resetPasswordForm" aria-label="Confirm New Password"
                               aria-describedby="password2-addon">
                    </div>
                    <span id="passwordcheck"></span>
                    <br>
                    <p style="color:black">Your password can’t be too similar to your other personal information.
                        <br>Your password must contain at least 8 characters.
                        <br>Your password can’t be a commonly used password.
                        <br>Your password can’t be entirely numeric or alphabetic.
                        <br>Your password mus contain atleast one uppercase letter, one lowercase letter and one digit.</p>
                    <br>
                    <span id="sucmessage"></span>
                    <br>
                    <button id="changebtn" type="submit" onclick="resetPassword()" class="btn btn-success" form="resetPasswordForm"
                            style="border-color:white;width:50%">Change
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md">
        </div>
    </div>
    {% endif %}
</center>
</body>

<script>
    function PasswordValidation()
    {
        document.getElementById("password2").disabled = true;
        document.getElementById('checkpassword').innerHTML = "";
        $.ajax(
        {
            type:'POST',
            url: {% url 'CheckPassword' %},
            data:{
                password:$('#password1').val(),
                username:$('#username').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            dataType: 'json',
            success:function(response)
            {
                if(response.password == '0')
                {
                    document.getElementById("password2").disabled = false;
                    document.getElementById('changebtn').style.display = "block"
                }
                else
                {
                    document.getElementById('passwordcheck').innerHTML = "<b style='color:red'>"+response.password+"</b>";
                    document.getElementById('changebtn').style.display = "none"
                }
            },
        });
    }
</script>
<script>
    function resetpasswordmatch()
    {
    document.getElementById("sucmessage").innerHTML = ""
    password1 = $('#password1').val()
    password2 = $('#password2').val()

    document.getElementById('passwordcheck').innerHTML = ""

    if(password1 === '' || password2 === '')
    {
    document.getElementById('passwordcheck').innerHTML = ""
    }
    else if(password1 === password2)
    {
    document.getElementById('passwordcheck').innerHTML = "<b style='color:green'>New Password and Confirm Password matched!</b>"
    }
    else if(password1 !== password2)
    {
    document.getElementById('passwordcheck').innerHTML = "<b class='text-danger'>New Password and Confirm Password didn't match!</b>"
    }
    }

</script>
<script>
    function resetPassword()
    {
    document.getElementById("sucmessage").innerHTML = "<div class='spinner-border text-success' role='status'></div>"
    document.getElementById("passwordcheck").innerHTML = ""
    const form = document.getElementById('resetPasswordForm');
    form.addEventListener("submit", resetHandler)

    function resetHandler(e) {
    e.preventDefault();
        $.ajax(
        {
            type:'POST',
            url: location.href,
            data:{
                password1:$('#password1').val(),
                password2:$('#password2').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
            dataType: 'json',
            success:function(response)
            { document.getElementById("sucmessage").innerHTML = ""
                if(response.error === "1")
                {
                document.getElementById("passwordcheck").innerHTML = "<b class='text-danger'>New Password and confirm Password Doesn't Match</b>"
                }
                else if(response.error === "4")
                {
                document.getElementById("passwordcheck").innerHTML = "<b class='text-danger'>"+response.validation_errors+"</b>"
                }
                else if(response.error === "0")
                {
                alert('Password Reset Successful. Login with your New Password');
                location.replace({% url 'LoginMain' %})
                }
            },
            error: function(response)
            {
                document.getElementById("sucmessage").innerHTML = "<b class='text-danger'>Failed to Reset Password!</b>"
            },
        });
   }
    }
</script>
</html>
{%endblock%}