<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    {% block meta %}
    <meta name="title" content="Reset Password | Go Healthy">
    <meta name="" content="If you forget your password, then reset your password">
    {% endblock meta %}

    {% block title %}
    <title>Reset Password | Go Healthy</title>
    {% endblock title %}

    {% block style %}
    <link rel="stylesheet" href="{% static 'css/resetpassword.css' %}">
    {% endblock style %}

</head>
{% block body %}
<body style="min-height:100%;background-image: url('{% static 'images/GoHealthy_reset password page background.jpg' %}');
            background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
{% endblock body %}

{% block content %}
<center>
    <br>
    <div class="row mb-5">
        <div class="col-md-6 ml-2 mr-2">
            <div class="container" align="left"
                 style="background-color:blue;padding:10px;padding-bottom:20px;padding-top:20px;border-radius:50px;">
                <h2 align="center" style="color:white;font-family:Serif"><b>RESET YOUR PASSWORD</b></h2>
                <ul class="fa-ul" style="font-family: FontAwesome;color:white;font-size:28px;line-height:58px;line-height:28px;">
                    <li class="mb-4"><span class="fa-li"><i class="fad fa-hand-point-right"></i></span> Enter Your Username & Email</li>
                    <li class="mb-4"><span class="fa-li"><i class="fad fa-hand-point-right"></i></span> Press Submit to Send Reset Password Link to Your Email</li>
                    <li><span class="fa-li"><i class="fad fa-hand-point-right"></i></span> Use This Link to Reset Your Password</li>
                </ul>
            </div>
        </div>
        <br><br>
        <div class="col-md-1"></div>
        <div class="col-md-4 ml-3 mr-3">
            <div class="container bg-dark" style="padding:20px;color:white" align="left">
                <form method="post" id="resetPassword" action="{% url 'Go_Healthy_App:ResetPassword' %}" autocomplete="off">

                            <label for="reset_username" class="form-label">Username</label>
                            <input type="text" inputmode="text" minlength="5" maxlength="15" class="form-control input-sm" name="username" id="reset_username"
                                   placeholder="Enter your Username" autocomplete="off" form="resetPassword" required><br>

                            <label for="reset_email" class="form-label">Email</label>
                            <input type="email" inputmode="email" class="form-control input-sm text-lowercase" name="email" id="reset_email"
                                   placeholder="Enter Your Registered Email Address" autocomplete="off" form="resetPassword" required>

                    <br>
                    <div align="left">
                    <span id="sucmessage"></span>
                    </div>
                    <div align="right">
                    <button type="submit" class="btn btn-success" id="resetSub" form="resetPassword">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="margin-bottom:100px"></div>
</center>
{% endblock content %}
</body>
{% block script %}

<script src="{% static 'javascripts/resetpassword.js' %}"></script>

{% endblock script %}
</html>