<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    {% block meta %}
    <meta name="title" content="Reset Password | Go Healthy">
    <meta name="description" content="Use this link to reset your password. This is one time link. This link is valid upto 10 minutes.">
    {% endblock meta %}

    {% block title %}
    <title>Reset Password | Go Healthy</title>
    {% endblock title %}

    {% block style %}
    <link rel="stylesheet" href="{% static 'css/resetpasswordlink.css' %}">
    {% endblock style %}

</head>
{% block body %}
<body style="min-height:100%;background-image: url('{% static 'images/GoHealthy_resetlink page background.jpg' %}');
            background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
{% endblock body %}

{% block content %}
<center>
    {% if nocode %}
    <div class="row ml-1 mr-1">
        <div class="col-md"></div>
        <div class="col-md-6 mb-3">
            <img src="{% static 'images/GoHealthy_logo main.png'%}" width="100%">
        </div>
        <div class="col-md"></div>
    </div>
    <h1>Error 404</h1>
    <h4 style="color:red" class="ml-1 mr-1">
        May be you have already used this link to reset your password or the link has been expired!
    </h4><br>
    <h5>Click <a href="{% url 'Go_Healthy_App:ResetPassword' %}">HERE</a> to send <strong>Reset Password Link</strong> Again</h5>
    <br><br>
    <h6>Go Back to <a href="{% url 'Go_Healthy_App:project-Home'%}">Home</a></h6>
    {% else %}
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md-4 ml-3 mr-3">
            <div class="container" style="padding:20px;background-color:#00D5FF">
                <h3 style="color:white">RESET PASSWORD</h3>
                <h6 class="text-light">Username: {{username}}</h6>
                <br>
                <form id="resetPasswordForm" method="post" action="{%url 'Go_Healthy_App:ResetPasswordDone' code=uniqueCode %}">
                    {% csrf_token %}
                    <input type="hidden" id="username_for_reset" value="{{username}}">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="password1-addon"><i class="fas fa-key"></i></span>
                        <input type="password" class="form-control input-sm reset-password-input" name="password1"
                               id="reset-password1" minlength="8" placeholder="New Password" required autocomplete="off"
                               form="resetPasswordForm" aria-label="New Password" aria-describedby="password1-addon">
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text" id="password2-addon"><i class="fas fa-key"></i></span>
                        <input type="password" class="form-control input-sm reset-password-input" name="password2"
                               id="reset-password2" minlength="8" placeholder="Confirm New Password" required autocomplete="off"
                               form="resetPasswordForm" aria-label="Confirm New Password"
                               aria-describedby="password2-addon" disabled>
                    </div>
                    <div id="passwordcheck"></div>
                    <div align="left" style="color: white;">
                        <li class="reset-password_validation reset-password_validation_1 text-light far fa-dot-circle"></li> Password must not be too common.
                        <br><li class="reset-password_validation reset-password_validation_2 text-light far fa-dot-circle"></li> Password must not be similar to Username.
                        <br><li class="reset-password_validation reset-password_validation_3 text-light far fa-dot-circle"></li> Password must contain at least 8 characters.
                        <br><li class="reset-password_validation reset-password_validation_4 reset-password_validation_5 text-light far fa-dot-circle"></li> Password must not be entirely alphabetic and numeric.
                        <br><li class="reset-password_validation reset-password_validation_6 reset-password_validation_7 reset-password_validation_8 reset-password_validation_9 text-light far fa-dot-circle"></li> Password must contain at least one uppercase letter, one lowercase letter, one digit and one special character.
                    </div>
                    <br>
                    <div id="sucmessage"></div>
                    
                    <button id="changebtn" type="submit" class="btn btn-success" form="resetPasswordForm"
                            style="border-color:white;width:50%">Change
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md">
        </div>
    </div>
    {% endif %}
</center>
{% endblock content %}
</body>

{% block script %}

<script src="{% static 'javascripts/resetpasswordlink.js' %}"></script>

{% endblock script %}
</html>