<!DOCTYPE html>
{% extends 'base.html' %}
{%block project%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body style="min-height:100%;background-image: url('{% static 'media/images/resetpassword background.jpg' %}');
            background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<center>
    <br>
    <div class="row">
        <div class="col-md-6 ml-2 mr-2">
            <div class="container" align="left"
                 style="background-color:blue;padding-top:15px;padding-bottom:15px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;border-top-left-radius:50px;border-top-right-radius:50px;">
                <h2 align="center" style="color:white;font-family:Serif"><b>RESET YOUR PASSWORD</b></h2>
                <ul style="list-style-type:'';font-family: FontAwesome;color:white;font-size:30px">
                    <li> &nbsp;&nbsp;Enter Username & Email</li>
                    <li>&nbsp;&nbsp; Press Submit to Send Reset Password Link to Your Email</li>
                    <li>&nbsp;&nbsp; Use This Link to Reset Your Password</li>
                </ul>
            </div>
        </div>
        <br><br>
        <div class="col-md-1"></div>
        <div class="col-md-4 ml-3 mr-3">
            <div class="container bg-dark" style="padding:20px;color:white" align="left">
                <form method="post" id="resetPassword">

                            <label for="reset_username" class="form-label">Username</label>
                            <input type="text" maxlength="15" class="form-control" name="username" id="reset_username"
                                   placeholder="Enter Your Username" autocomplete="off" form="resetPassword" required><br>

                            <label for="reset_email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="reset_email"
                                   placeholder="Enter Your Registered Email Address" autocomplete="off" form="resetPassword" required>

                    <br>
                    <div align="left">
                    <span id="sucmessage"></span>
                    </div>
                    <div align="right">
                    <button type="submit" class="btn btn-success" onclick="sendResetLink()" id="resetSub" form="resetPassword">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</center>
</body>
<script>
    function sendResetLink()
    {
    document.getElementById("sucmessage").innerHTML = "<div class='spinner-border text-success' role='status'></div>"
    const form = document.getElementById('resetPassword');
    form.addEventListener("submit", resetHandler)

    function resetHandler(e) {
    e.preventDefault();
        $.ajax(
        {
            type:'POST',
            url: {% url 'ResetPassword' %},
            data:{
                username:$('#reset_username').val(),
                email:$('#reset_email').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
            dataType: 'json',
            success:function(response)
            {
                if(response.error === "1")
                {
                document.getElementById("sucmessage").innerHTML = "<b class='text-danger'>User with this Username does not exist</b>"
                }
                else if(response.error === "2")
                {
                document.getElementById("sucmessage").innerHTML = "<b class='text-danger'>Email doesn't match with this User!</b>"
                }
                else if(response.error === "0")
                {
                document.getElementById("sucmessage").innerHTML = "<b class='text-success'>Reset Password Link Sent to your Email</b>"
                }
            },
            error: function(response)
            {
                document.getElementById("sucmessage").innerHTML = "<b class='text-danger'>Failed to Send Reset Link!</b>"
            },
        });
   }
    }
</script>
</html>
{%endblock%}